---
import { Image } from 'astro:assets';
const { post } = Astro.props;
---
<li>
    <a href={`/posts/${post.id}`}>
        <div class="posts">
            <Image
                transition:name={`img-${post.data.title}`}
                src={post.data.image.url} 
                inferSize={true}
                alt={post.data.image.alt} 
                width={200}
                height={120}
            />
            {post.data.title}
        </div>
    </a>
</li>